<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') -%>

        <body class='unselectable'>
            <%- include ('./partials/navbar.ejs') -%>
                <main>
                    <h1>
                        <%- page %>
                    </h1>
                    <script src="../js/redirect.min.js" type="text/javascript">redirect('/nav');</script>
                </main>
                <%- include ('./partials/footer.ejs') -%>
        </body>

</html>