<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') -%>

<body class='unselectable'>
	<main>
		<h1>
			<%- page %>
		</h1>
	</main>
	<%- include ('./partials/footer.ejs') -%>
</body>

</html>