<!-- keep in mind that relative paths are from INDEX, NOT FROM HERE!! -->

<head>
	<meta charset="utf-8">
	<title>
		Mark Gutenberger | <% page %>
	</title>
	<!-- meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="hsla(0, 0%, 30%,)">
	<!-- local assets -->
	<link rel="icon" href="./assets/ico/favicon.ico">
	<link rel="stylesheet/less" type="text/css" href="./less/main.less">
	<!-- remote assets -->
	<script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.0.0/tailwind.min.css">
</head>