<!-- all meta goes here -->

<head>
    <meta charset="utf-8">
    <!-- var `page` is in /routes/ -->
    <title>
        MyMath | <%- page %>
    </title>
    <!-- icon -->
    <link rel="icon" href="/src/assets/img/icons/favicon.ico">
    <!-- meta and config -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="hsla(0, 0%, 30%,)">
    <script>
        less = {
            env: "development",
            logLevel: 2,
            async: true,
            fileAsync: true,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: true,
            globalVars: {},
            rootpath: ":/a.com/"
        };
    </script>
    <!-- note that no static libs are published to github. -->
    <!-- less -->
    <script src="/src/lib/less/less.min.js" type="text/javascript"></script>
    <script href="https://cdn.jsdelivr.net/npm/less@4.1.1" type="text/javascript"></script>
    <!-- scripts -->
    <script type="text/javascript" href="/public/src/assets/js/usrlang.js"></script>
    <script type="text/javascript" href="/public/src/assets/js/jserrhandler.js"></script>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/src/assets/style/css/main.min.css">
</head>