<%# just in case.. yk.. -%>
<!DOCTYPE html>
<html lang="en">
<%- include ('src/views/partials/head.ejs') -%>
<body>
	<main>
		<h1>404: Page not found</h1>
		<h1>Redirecting back to home...</h1>
		<script type="text/javascript">
			function redirect( newlocation ) {
				window.location = newlocation;
				console.log(`redirected to ${newlocation}`);
			}
			redirect( '/' );
		</script>
	</main>
	<%- include ('src/views/partials/footer.ejs') -%>
</body>

</html>